:root {
  --animation-timing: 1s;
  --background-color: #3FAF82;
  --box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  --main-color: #FFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background: var(--background-color);
  display: flex;
  height: 400px;
  justify-content: center;
  width: 400px;
}

.hamburger {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
}

.line{
  background-color: var(--main-color);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  content: '';
  height: 8px;
  position: absolute;
  width: 80px;
}

.line2 {
  top: 14px;
}

.line3 {
  bottom: 14px;
}

.animation--off .line {
  animation: none;
}

.menu--open .line1 {
  animation: line1 var(--animation-timing) forwards;
}

.menu--open .line2 {
  animation: line2 var(--animation-timing) forwards;
}

.menu--open .line3 {
  animation: line3 var(--animation-timing) forwards;
}

.line1 {
  animation: line1-reverse var(--animation-timing);
}
.line2 {
  animation: line2-reverse var(--animation-timing);
}
.line3 {
  animation: line3-reverse var(--animation-timing);
}

@keyframes line1 {
  from {opacity:1; transform: scaleX(1);}
  to {opacity:0; transform:scaleX(0);}
}

@keyframes line2 {
  from {transform: translateY(0);}
  50% {transform: translateY(22px);}
  to {transform: translateY(22px) rotate(45deg);}
}

@keyframes line3 {
  from {transform: translateY(0);}
  50% {transform: translateY(-22px);}
  to {transform: translateY(-22px) rotate(-45deg);}
}

@keyframes line1-reverse {
  from {opacity:0; transform:scaleX(0);}
  to {opacity:1; transform: scaleX(1);}
}

@keyframes line2-reverse {
  from {transform: translateY(22px) rotate(45deg);}
  50% {transform: translateY(22px);}
  to {transform: rotate(0) translateY(0);}
}

@keyframes line3-reverse {
  from {transform: translateY(-22px) rotate(-45deg);}
  50% {transform: translateY(-22px);}
  to {transform: rotate(0) translateY(0);}
}