* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color : #42A7A1;
  --blue-line: #7BA2FF;
  --body-font-color: #606060;
  --header-color: #F1BA64;
  --line-color: #F2F2F2;
  --main-color: #fff;
  --main-font: 'Open Sans';
  --red-line: #FA7373;
}

body {
  font-family: var(--main-font);
}

.card-container {
  align-items: center;
  background: var(--background-color);
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 400px;
}

.card {
  background: var(--main-color);
  border-radius: 3px;
  height: 220px;
  margin-right: 1px;
  margin-top: 1px;
  width: 280px;
}

.card__header {
  background: var(--header-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: var(--main-color);
  display: flex;
  height: 60px;
  width: 100%;
}

.card__title {
  background-color: antiquewhite;
  width: 120px;
  height: 20px;
  /* margin-left: 15px;
  margin-top: 10px; */
}

.card__date {
  background-color: #7BA2FF;
  width: 85px;
  height: 16px;
  /* margin-left: 15px;
  margin-top: 28px; */
}

.card__type {
  background-color: #FA7373;
  height: 15px;
  width: 46px;
/*   margin-left: 221px;
  margin-top: 12px; */
}

.card__value {
  background-color: aquamarine;
  width: 100%;
}

.card__text--big {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.card__text--small {
  font-weight: 400;
  font-size: 11px;
}

.graph-container {
  position: relative;
  height: 160px;
}

.graph__lines {
  height: 80px;
  left: 10px;
  position: absolute;
  top: 42px;
  width: 260px;
}

.graph__data-line {
  fill: none;
  position: absolute;
  stroke-linecap: round;
  stroke-width: 2;
  width: 280px;
}

.graph__data-line--blue polyline {
  stroke: var(--blue-line);
}

.graph__data-points--blue {
  fill: var(--blue-line);
  stroke-width: 2; 
}

.graph__data-line--red polyline {
  stroke: var(--red-line);
}

.graph__data-points--red {
  fill: var(--red-line);
  stroke-width: 2; 
}