* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #42a7a1;
  --blue-line: #7ba2ff;
  --body-font-color: #606060;
  --header-color: #f1ba64;
  --line-color: #f2f2f2;
  --main-color: #fff;
  --main-font: "Open Sans";
  --red-line: #fa7373;
}

body {
  font-family: var(--main-font);
}

.card-container {
  align-items: center;
  background: var(--background-color);
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 400px;
}

.card {
  background: var(--main-color);
  border-radius: 3px;
  height: 220px;
  margin-right: 1px;
  margin-top: 1px;
  width: 280px;
}

.card__header {
  background: var(--header-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: var(--main-color);
  display: flex;
  height: 60px;
  position: relative;
  width: 100%;
}

.card__text {
  position: absolute;
  width: 100%;
}

.card__text--big {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.card__text--small {
  font-weight: 400;
  font-size: 11px;
}

.card__title {
  left: 15px;
  top: 10px;
}

.card__date {
  left: 15px;
  top: 28px;
}

.card__type {
  left: 221px;
  top: 12px;
}

.card__value {
  top: 26px;
  left: 202px;
}

.graph-container {
  position: relative;
  height: 160px;
}

.graph__lines {
  height: 80px;
  left: 10px;
  position: absolute;
  top: 42px;
  width: 260px;
}

.graph__data-line {
  fill: none;
  position: absolute;
  stroke-linecap: round;
  stroke-width: 2;
  width: 280px;
}

.graph__data-points {
  cursor: pointer;
  position: relative;
  stroke-width: 2;
}

.graph__data-line--blue {
  stroke: var(--blue-line);
}

.graph__data-points--blue {
  fill: var(--blue-line);
}

.graph__data-line--red {
  stroke: var(--red-line);
}

.graph__data-points--red {
  fill: var(--red-line);
}

/* .tooltip {
  opacity:0;
  transition: opacity 0.3s;
  text-shadow:1px 1px 0px gray;
}

g.tooltip rect {
  fill: lightblue;
  stroke: gray;
} */
circle:hover + g.tooltip.css {
opacity:1;
}

.tooltip path {
  position: absolute;
}

text {
  fill: black;
  font-family: Tahoma;
  font-size: 16pt;
}